<div class="container">
  <h1><%= @list.name %></h1>
  <div class="image">
    <% if @list.image.attached? %>
     <%= cl_image_tag @list.image.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
  <% @movies.each do |movie| %>
  <ul>
    <li><%= link_to(movie.title, movie_path(movie)) %></li>
    <% @bookmarks.each do |bookmark| %>
    <% if bookmark.movie == movie %>
      <ul>
        <li><%= bookmark.comment  %></li>
        <%= link_to('Delete', bookmark_path(bookmark), method: :delete) %>
      </ul>
      <% end %>
    <% end %>
  </ul>
  <% end %>


  <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit "Place a bookmark" %>
  <% end %>


  <%= link_to 'Go back', root_path %>
</div>
