<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RailsWatchList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="background-cover" style="background-image: url('https://cdn.hipwallpaper.com/i/59/58/pS2ByY.jpg')">
      <div class="banner" style=" background-color = transparent">
        <div class="container">
          <h1>The reference for shark movies</h1>
          <p>FOR THE SHARK LOVERS OF THE WORLD</p>
          <p>SHARKIFY YOUR LIFE</p>
        </div>
      </div>
      <%= yield %>
      <div class="footer">
      </div>
    </div>
  </body>
</html>
